.descripcion  {
margin: 10px;
color: blue;
margin-bottom: 20px;
font-size: 30px;
}

.imagen img {
padding: 10px;
width: 180px;
hegth: 180px;
float: left;
}

.imagen p {
font-size: 15px;
line-height: 1.5;
margin: 10px;
text-align: justify;

}

.subdescripcion {
font-size: 18px;
color: cyan;
}

.imagen  {
margin-bottom: 20px;
}

#container{
margin: 10px;
text-align: left;
margin-bottom: 20px;
}

#container li {
line-height: 2;
text-align: left;
margin: 5px;
}

#container h2{
margin-bottom: 15px;
font-size: 18px;
}


.redes_sociales{
margin-top: 10px;
margin: 10px;
margin-bottom: 20px;
}

.redes_sociales h2 {
font-size: 18px;
}


.redes_sociales h2 {
font-size: 18px;
}


.redes_sociales1 {
text-align: left;
margin: 10px;
}

.redes_sociales2 {
text-align: left;
margin: 10px;
}

.redes_sociales3 {
text-align: left;
margin: 10px;
}

.redes_sociales4 {
text-align: left;
margin: 10px;
}

.redes_sociales5 {
text-align: left;
margin: 10px;
}

footer .contenedor-all {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 30px;
}

.copy {
font-size: 20px;
}

.sociales {
width: 100%;
text-align: center;
font-size: 28px;
}

.sociales a {
color: #333;
text-decoration: none;
margin: 5px;
}






