#blog {
text-align: center;

}

#blog p {
font-size: 15px;
margin: 10px;
text-align: justify;
}

#blog .contenedor {
text-align: left;
justify-content: center;
}

h3 {
margin-bottom: 10px;
}

#blog article {
margin: 10px;
}

#blog img {
width: 100%;
max-width: 280px;
}


#comandos p {
margin: 10px;
text-align: left;
}

#comandos h2 {
margin: 10px;
}

#comandos h3 {
margin: 10px;
font-size: 14px;
}


#comandos h4 {
font-size: 14px;
margin: 10px;
}

#comandos h5 {
font-size: 14px;
margin: 10px;
}

#importante h4 {
margin: 10px;
color: red;
text-align: center;
}


#importante p {
margin: 10px;
text-align: center;
}

.redes {
text-align: left;
margin: 10px;
margin-bottom: 10px;
}

.redes2 {
text-align: left;
margin: 10px;
margin-bottom: 10px;
}

.redes3 {
text-align: left;
margin: 10px;
margin-bottom: 10px;
}

.redes4 {
text-align: left;
margin: 10px;
margin-bottom: 10px;
}

.redes5 {
text-align: left;
margin: 10px;
margin-bottom: 20px;
}

.foto {

}

.descripcion  {
margin: 10px;
font-size: 20px;
color: blue;
margin-bottom: 20px;
}


.foto img {
width: 180px;
float: left;
margin: 10px;
}

.foto p {
font-size: 14px;
line-height: 30px;
margin: 5px;
}

.subdescripcion {
font-size: 18px;
color: cyan;
}

.contenedor2 {
background: blue;
margin: 10px;
}





