
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
width: 100%;
height: 50px;
background: #333;
color: #fff;
position: fixed;
top: 0;
left: 0;
z-index: 100;
}

.contenedor {
width: 98%;
margin: auto;

}

h1 {
float: left;
}

header .contenedor {
display: table;
}

section {
width: 100%;
margin-bottom: 25px;
}

#bienvenidos {
text-align: center;
}

#bienvenidos p {
font-size: 15px;
margin: 10px;
text-align: justify;
}

h2 {
font-size: 17px;
margin-bottom: 10px;
}

footer .contenedor {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 30px;
}

.copy {
font-size: 20px;
}

.sociales {
width: 100%;
text-align: center;
font-size: 28px;
}

.sociales a {
color: #333;
text-decoration: none;
margin: 5px;
}


@media (min-width:979px) {
.contenedor {
width: 900px;
}
}



